.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-top:30px;

}

.card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card h3{

    color:#555;

}

.card h1{

    color:#0f766e;

    margin-top:15px;

}